@model MvcMovie.Models.DaiLy

@{
    ViewData["Title"] = "Chi tiết Đại lý";
}

<h1>@ViewData["Title"]</h1>

<div>
    <label>MaDaiLy:</label> @Model.MaDaiLy
</div>
<div>
    <label>TenDaiLy:</label> @Model.TenDaiLy
</div>
<div>
    <label>DiaChi:</label> @Model.DiaChi
</div>
<div>
    <label>NguoiDaiDien:</label> @Model.NguoiDaiDien
</div>
<div>
    <label>DienThoai:</label> @Model.DienThoai
</div>
<div>
    <label>MaHTPP:</label> @Model.MaHTPP
</div>
