@model MvcMovie.Models.Employee

<h2>@ViewBag.Message</h2>

<p><strong>Person ID:</strong> @Model.PersonID</p>
<p><strong>Full Name:</strong> @Model.FullName</p>
<p><strong>Address:</strong> @Model.Address</p>
<p><strong>Employee ID:</strong> @Model.EmployeeID</p>
<p><strong>Age:</strong> @Model.Age</p>
